<!DOCTYPE html>
<html>
<head>
  <title>Employees: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
